@import url('../styles.scss');
.wrapper {
    background: var(--main-bg);
}

.navbar {
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    font-size: calc(1em + 2.5vh + 2.5vw);
    font-weight: bold;
    font-family: 'lemonmilk', sans-serif;
    text-shadow: var(--title-text-shadow);
}

.theme {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
}

.not-enabled {
    opacity: 0.5;
}

.slash {
    margin: 0 5px;
}

.main {
    height: 85vh;
}