<div class="card m-2 rounded-5 overflow-hidden card-holder">
    <div class="hobby-image-holder d-flex align-items-center w-100">
        <img src={{imageSrc}}
            class="hobby-image mx-auto rounded-4"
            alt={{imageAlt}}
        >
    </div>
    <div class="p-3">
      <h5 class="text-center title">{{hobby.name}}</h5>
      <p class="card-paragraph ">{{hobby.description}}</p>
      <div class="d-grid justify-content-center">
        <button (click)="notifyParent()" class="btn btn-primary" tabindex="0">Dowiedz się więcej</button>
      </div>
    </div>
</div>
